.material-card {
  margin-top: 2%;
}

.material-card-name {
  margin-top: 2%;
}

.material-card-description {
  margin-top: 2%;
}

.material-card-content {
  margin-top: 2%;
}

.material-card-tags {
  margin-top: 2%;
}
