<mat-card class="material-card" style="max-width: 800px">

  <h1>Material</h1>

  <mat-card class="material-card-name">

    <h3>Name</h3>

    <p class="review-card-content-text">
      {{material.name}}
    </p>

  </mat-card>

  <mat-card class="material-card-content">

    <h3>Content</h3>

    <p class="material-card-content">
      {{material.content.content}}
    </p>

  </mat-card>

  <mat-card class="material-card-description">

    <h3>Description</h3>

    <p class="material-card-description">
      {{material.description}}
    </p>

  </mat-card>

  <mat-card class="material-card-tags">

    <h3>Tags</h3>

    <p class="material-card-tags">
      {{material.tags.tags}}
    </p>

  </mat-card>

</mat-card>
