<mat-card class="material-card" style="max-width: 800px">

  <h1>Material</h1>

  <mat-card class="material-card-name">

    <h2>Name</h2>

    <p class="review-card-content-text">
      {{material.name}}
    </p>

  </mat-card>

  <mat-card class="material-card-content">

    <h2>Content</h2>

    <p class="material-card-content">
      {{material.content.content}}
    </p>

  </mat-card>

  <mat-card class="material-card-description">

    <h2>Description</h2>

    <p class="material-card-description">
      {{material.description}}
    </p>

  </mat-card>

  <mat-card class="material-card-tags">

    <h2>Tags</h2>

    <p class="material-card-tags">
      {{material.tags.tags}}
    </p>

  </mat-card>

</mat-card>
