<mat-card class="example-card">
  <ng-container>
    <mat-button-toggle-group class="full-width" name="fontStyle" value="review">
      <mat-button-toggle id="material-button" (click)="material=true" class="choice-button">Material</mat-button-toggle>
      <mat-button-toggle id="review-button" (click)="material=false" class="choice-button" value="review">Review</mat-button-toggle>
    </mat-button-toggle-group>
  </ng-container>

  <div *ngIf="!material">
    <mat-tab-group mat-stretch-tabs style="margin-top: 2%">

      <mat-tab label="GET">
        <div style="margin-top: 2%"><label>User</label></div>

        <div>
          <mat-form-field style="margin-top: 2%; width: 49%">
            <mat-select placeholder="Gender">
              <mat-option value="option">male</mat-option>
              <mat-option value="option">female</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <mat-form-field style="width: 49%">
          <input matInput placeholder="From age">
        </mat-form-field>

        <mat-form-field style="margin-left: 2%; width: 49%">
          <input matInput placeholder="To age">
        </mat-form-field>

        <mat-form-field style="width: 49%">
          <input matInput [matDatepicker]="pickerFrom" placeholder="From date">
          <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
          <mat-datepicker #pickerFrom></mat-datepicker>
        </mat-form-field>

        <mat-form-field style="margin-left: 2%; width: 49%">
          <input matInput [matDatepicker]="pickerTo" placeholder="From date">
          <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
          <mat-datepicker #pickerTo></mat-datepicker>
        </mat-form-field>

        <mat-form-field style="width: 49%">
          <input matInput placeholder="Tags">
        </mat-form-field>

        <div style="width: 100%; float: right">
          <button mat-flat-button color="primary" style="float: right; margin-left: 2%">Send</button>
          <button mat-flat-button color="warn" style="float: right">Get all</button>
        </div>


      </mat-tab>
      <mat-tab label="POST">

      </mat-tab>
    </mat-tab-group>
  </div>
  <div *ngIf="material">
    <p>asd</p>
  </div>
  <mat-card-content>

  </mat-card-content>
</mat-card>
