<mat-card class="review-card" style="max-width: 800px">

  <mat-card class="review-card-user">
    <p class="review-card-user-text">
      {{review.user}}
    </p>
  </mat-card>

  <mat-card class="review-card-content">
    <p class="review-card-content-text">
      {{review.content}}
    </p>
  </mat-card>

  <mat-card class="review-card-tags">
    <p class="review-card-tags-text">
      {{review.tags}}
    </p>
  </mat-card>

  <mat-card class="review-card-date">
    <p class="review-card-date-text">
      {{review.reviewDate}}
    </p>
  </mat-card>

</mat-card>
